<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <title>{% block title %} Rimworld, el sumilador de historias{% endblock %}</title>
  </head>
  <body>
    <div>
      <header>
        <center><img src="{{ url_for('static', filename='RimLogo.png') }}"></center>
        <!--<h1>Rimworld, más que un juego, un "Simulador de Historias"</h1>-->
      </header>
    </div>
    <div id="container">
      <nav>
        <ul>
          <li>
            <a href="#">Inicio</a>
          </li>
          <li>
            <a href="#">Comunidad</a>
          </li>
          <li>
            <a href="#">Acerca de</a>
          </li>
        </ul>
      </nav>
      <div class="clearfix"></div>

      <section id="content">
        <article class="article">
          <h2>Rimworld, el "generador de historias"</h2>
          <p>Párrafo del artículo</p>
        </article>
        <article>
          <h1>Ola k tal</h1>
        </article>
      </section>

      <aside>
        <h2>Barra lateral</h2>
      </aside>

      <div class="clearfix"></div>

      <footer>Aquí irán los comentarios</footer>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>