{% extends "base.html" %}

{% block title %} Comunidad {% endblock %}

{% block content%}
<section id="content">
    <article class="article">
      <h1>Rimworld - Comunidad</h1>
      <p>La comunidad de Rimworld es, por mucho, de las cosas más importantes que tiene el juego, tanto la comunidad modder
        como la comunidad en general de los diversos grupos que hay esparcidos en redes sociales. Todas las traducciones 
        (Especialmente las traducciones al Español) son hechas por la misma comunidad. Puedes encontrar información sobre
        cómo contribuir <a href="https://ludeon.com/forums/index.php?topic=2933.0">aquí</a>
      </p>
      <img class="imgsize" src="{{url_for('static', filename='rimworld_group.png')}}">
      <p class="parrafo"><a href="https://www.facebook.com/groups/1320430548008460/?hoisted_section_header_type=recently_seen&multi_permalinks=7939813909403391">La comunidad en Español de Rimworld</a>. Aquí se encuentra gente publicando acerca de sus experiencias 
        con el juego, opiniones sobre sus contenidos y mucho más.
      </p>
      <p class="parrafo">Sin embargo, la comunidad más importante que tiene Rimworld es su comunidad modder. Al ser un juego
         de código abierto, los modders tienen mucho más fácil el trabajo de crear nuevo contenido para la comunidad. A través
          de la <a href="https://steamcommunity.com/app/294100/workshop/">workshop</a> de rimworld, podrás conocer y descargar 
          contenido adicional hecho por fans.
      </p>
  </section>
{% endblock %}