{% extends "base.html" %}

{% block title %} Reseña de Rimworld {% endblock %}

{% block content%}
<section id="content">
    <article class="article">
      <h1>Rimworld, el "generador de historias"</h1>
      <!--Utilizar /embed/ es la manera correcta de insertar los vídeos-->
      <iframe width="640" height="480" src="https://www.youtube-nocookie.com/embed/3tDrxOASUog" frameborder="0" allowfullscreen></iframe>
      <p class="parrafo">Rimworld es un juego perteneciente al género llamado "Simulador de colonias"; nos sumerge en un mundo 
        en el que tendremos que sobrevivir no solo a las inmediaciones del planeta, sino también deberás sobrevivir a tus colonos.
        ¡Así es! Incluso tus mismos colonos pueden llegar a ser una carga o una dificultad para ti; cada uno de ellos tiene
        su propia personalidad, algunos con rasgos buenos y otros con rasgos paupérrimos, pero hasta un mal colono 
        hace parte del reto!
      </p>
      <p class="parrafo">
        Pero, ¿Qué es lo que hace a Rimworld tan especial? En primer lugar, tenemos que hablar sobre el que es un 
        "generador de historias", esto se debe a que cada colono es único y especial, con el que podrás crear y compartir
        momentos especiales junto a él creando y tejiendo toda una historia que contar; lo verás enfermar, lo verás tener
        ataques de ira, los podrás ver tristes, estresados, etc.
      </p>
      <p class="parrafo">En temas de jugabilidad, podemos encontrarnos por una parte con un tranquilo juego de construcción
        y gestión de los recursos del mapa, que deberás utilizar inteligentemente para combatir contra diferentes facciones
        que intentarán invadirte y robarte todo!
      </p>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://techraptor.net/sites/default/files/styles/image_header/public/2020-08/Rimworld%201.2%20update%20cover.jpg?itok=a1RfqxG0" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/294100/ss_44a8828a81f12d2c4103c42df902e804d851a380.1920x1080.jpg?t=1712954312" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.mos.cms.futurecdn.net/B7J7pxU9KuCWkSdTN7mNMH.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      <p class="parrafo">A pesar de los problemas, también podrás contar con aliados. Cada cierto tiempo, llegará una caravana
        de una facción neutral comerciando todo tipo de elementos. No obstante, también puedes crear tú mismo una caravana 
        con tus propios artículos para vender por todo el basto mundo!
      </p>

      <img class="imgsize" src="https://preview.redd.it/3fhn4m5sbbf61.png?width=1080&crop=smart&auto=webp&s=c21066e89c58a338673421ade1a15da6ad3bd417">
      
      <p class="parrafo">Este es un juego que vale mucho la pena probar. Podríamos seguir hablando durante horas de todo 
        el contenido que este posee, sin siquiera abarcar sus contenidos descargables (<a href="{{ url_for('DLCs')}}">DLCs</a>).
      </p>

    </article>
    <!--<article>
      <h1>Ola k tal</h1>
    </article>-->
  </section>
{% endblock %}