{% extends "base.html" %}

{% block title %} Reseña de Rimworld {% endblock %}

{% block content%}
<section id="content">
    <article class="article">
      <h1>Rimworld, el "generador de historias"</h1>
      <!--Utilizar /embed/ es la manera correcta de insertar los vídeos-->
      <iframe width="640" height="480" src="https://www.youtube-nocookie.com/embed/3tDrxOASUog" frameborder="0" allowfullscreen></iframe>
      <p>Párrafo del artículo</p>
    </article>
    <article>
      <h1>Ola k tal</h1>
    </article>
  </section>
{% endblock %}